*{
    box-sizing: border-box;
}


header{
    display: flex;
    flex-direction: column;
    background-image: url();
    width: 100%;
}

h1{
     font-family: 'Sirin Stencil', cursive;
     font-weight: normal;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #222428;
}